/* light theme colors */
 html{
   --bg: #FCFCFC;
   --bg-panel: #EEEEEE;/*box container*/
   --color-headings: #00ADB5;/*heading*/
   --color-text: #393e46;/*paragraph*/
   height:100%;
   display:grid;
   align-items:center;
   justify-content:center;
   margin: 0;
   padding: 0;
 }
 /* dark theme colors */
 html[data-theme='dark']{
   --bg: ;
   --bg-panel: #393E46;
   --color-headings: #00ADB5;
   --color-text: #B5B5B5;
 }
 body{
   font-family: 'Montserrat', sans-serif;
   background-color: var(--bg);
 }
 /* box container */
 .box{
   display:grid;
   grid-template-rows: auto auto;
   border-radius: 15px;
   padding:30px;
   width:60vw;
   background-color: var(--bg-panel);
   letter-spacing: 0.05rem;
 }
 
